{% extends "patient/base_patient.html" %}

{% block content %}
<div class="container py-4">

    <!-- En-tête -->
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="text-primary">
            <i class="ri-stethoscope-line me-2"></i>
            Mon historique de consultations
        </h4>
       
    </div>

    <!-- Contenu principal -->
    <div class="card border-0 shadow-sm">
        <div class="card-body p-4">
            <div class="table-responsive">
                <table class="table table-hover align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Date</th>
                            <th>Médecin</th>
                            <th>Motif</th>
                            <th>Dianostic</th>
                            <th class="text-center">Détails</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12/05/2023</td>
                            <td>HAZARD Abi</td>
                            <td>Maux de gorge</td>
                            <td>En attente</td>
                            <td class="text-center">
                                <a href="#"
                                   class="btn btn-sm btn-outline-primary">
                                   <i class="ri-eye-line"></i> Voir
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
